## Python Pandas

This question has several parts, evaluated in several test cases.  
We will work with the "olive" dataset, here is some info:  

```
,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
```

**Description of Data:**  
572 olive oil samples from 3 different regions (and 9 sub-regions) of Italy; for each sample the normalized concentrations of 8 fatty acids are given.  
Source: http://www2.chemie.uni-erlangen.de/publications/ANN-book/datasets/oliveoil/  
There are 3 regions:  
* South
* North
* Sardinia

There are 9 sub-regions(areas):  
* North Apulia
* South Apulia
* Calabria
* Sicily
* Inland
* Coastal Sardinia
* Umbria
* East
* West Liguria  
Supplemental Report: http://www.public.iastate.edu/~dicook/stat503/05/cs-olive.pdf

#### Q1: Import numpy and pandas

In [104]:
import numpy as np
import pandas as pd

#### Q2: Set options in pandas so it displays:
* 30 `max_rows` 
* no limit on `max_columns`
* precision is 3

In [105]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 3)

#### Q3: Assign the versions of pandas and numpy to variables below

In [106]:

pd_version = pd.__version__
np_version = np.__version__
print(pd_version)

0.24.2

#### Q4: 
* Read in the csv file "olive.csv" with pandas. 
* The filename is stored in the variable `olive_path`
* Assign it to variable `df`

In [107]:
# Q4: Read in the csv file "olive.csv" with pandas. 
#     The filename is stored in the variable `olive_path`
#     Assign it to variable `df`
olive_path = 'olive.csv'

df = pd.read_csv(olive_path)

In [108]:
# Q5: How many rows and columns are there in `df`? Put your answer in a variable `df_shape`.
df_shape = df.shape
df_shape

(572, 11)

In [109]:
# Q6: assign the first 2 rows of `df` to `df_first_two`
df_first_two = df.iloc[0:2]
df_first_two

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29

In [111]:
# Q7: How many distinct data types are there in `df`?
df_data_types_count = len(df.dtypes.unique()) 
print(df_data_types_count)# this should be an integer

2

In [112]:
# Q8: In `df`, create a new column 'sub_region_raw', which will be a copy of the column 'Unnamed: 0'
df['sub_region_raw'] = df['Unnamed: 0']

In [113]:
# Q9: In `df`, rename 'Unnamed: 0' to 'sub_region_desc'
df.rename(columns = {'Unnamed: 0': 'sub_region_desc'}, inplace = True)

In [114]:
# Q10: In `df`, rename the column 'area' to: 'sub_region'
df.rename(columns = {'area': 'sub_region'}, inplace = True)

In [115]:
# Q11: In `df`, get the unique values of the field 'region'
region_unique = df.region.unique()

In [116]:
# Q12: In `df`, how many unique values of the field 'sub_region' are there?
sub_region_unique_count = len(df.sub_region.unique()) # should be an integer
print(sub_region_unique_count)

9

In [93]:
# Q13:
# >>> df['sub_region_desc'].head(5)
# 0    1.North-Apulia
# 1    2.North-Apulia
# 2    3.North-Apulia
# 3    4.North-Apulia
# 4    5.North-Apulia

# Looks like 'sub_region_desc' has line numbers attached to the beginning of region name. Remove those and get the unique values in that field, assign it to `srd_unique`
srd_unique = [val[val.find('.')+1:] for val in df['sub_region_desc']]