** '\s\

In [21]:
import re
regex = re.compile('\s+')
"""
regex pattern is a special language used to represent generic text, 
numbers or symbols so it can be used to extract texts to conform to that pattern
"""

'\nregex pattern is a special language used to represent generic text, \nnumbers or symbols so it can be used to extract texts to conform to that pattern\n'

In [11]:
text = "101 COM    Computers    205 MAT   Mathematics    189 ENG   English"

In [13]:
re.split('\s+', text)

['101',
 'COM',
 'Computers',
 '205',
 'MAT',
 'Mathematics',
 '189',
 'ENG',
 'English']

In [18]:
regex.split(text)

['101',
 'COM',
 'Computers',
 '205',
 'MAT',
 'Mathematics',
 '189',
 'ENG',
 'English']

In [22]:
print(text)
regex_num = re.compile('\d+') #if you use * instead of it, requires 0 or more digits
regex_num.findall(text)

101 COM    Computers    205 MAT   Mathematics    189 ENG   English

['101', '205', '189']

In [29]:
text2 = 'COM   Computers  205 Mat   Mathematics 189'

In [33]:
#compile the regex and search the pattern
regex_num = re.compile('\d+')
s = regex_num.search(text2)

print('Start Position: ', s.start())
print('Ending Position: ', s.end())
print(text2[s.start():s.end()])
#can also get the same output as above via:
print(s.group())

Start Position:  17
Ending Position:  20
205
205

In [43]:
#replace texts, using regex.sub()
text3 = """101   COM \t  Computers
205   MAT \t  Mathematics
189   ENG  \t  English"""  
print(text3)

101   COM 	  Computers
205   MAT 	  Mathematics
189   ENG  	  English

In [44]:
regex = re.compile('\s+')
#print(regex.sub(' ', text3))
# or
print(re.sub('\s+',' ', text3))

101 COM Computers 205 MAT Mathematics 189 ENG English

In [68]:
#replace texts, using regex.sub()
text3 = """101   COM \t  Computers
205   MAT \t  Mathematics
189   ENG  \t  English"""  
print(text3)

101   COM 	  Computers
205   MAT 	  Mathematics
189   ENG  	  English

In [71]:
regex = re.compile('((?!\n)\s+)')

In [72]:
print(regex.sub(' ',text3))

101 COM Computers
205 MAT Mathematics
189 ENG English

In [73]:
text4 = """101   COM   Computers
205   MAT   Mathematics
189   ENG    English"""

In [74]:
# 1.extract course numbers
re.findall('[0-9]+', text4)

['101', '205', '189']

In [78]:
# 2.extract all course codes
re.findall('[A-Z]{3}', text4)

['COM', 'MAT', 'ENG']

In [79]:
# 3. extract all course names
re.findall('[A-Za-z]{4,}',text4)

['Computers', 'Mathematics', 'English']

In [80]:
course_pattern = '([0-9]+)\s*([A-Z]{3})\s*([A-Za-z]{4,})'

In [82]:
re.findall(course_pattern,text4)

[('101', 'COM', 'Computers'),
 ('205', 'MAT', 'Mathematics'),
 ('189', 'ENG', 'English')]

In [89]:
text = 'machinelearningplus.com'
print(re.findall('.', text))  # .   Any character except for a new line
print(re.findall('...', text)) # Any 3 characters, besides new line

['m', 'a', 'c', 'h', 'i', 'n', 'e', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'p', 'l', 'u', 's', '.', 'c', 'o', 'm']

In [93]:
text = 'machinelearningplus.com'
print(re.findall('\.', text))  # matches a period
print(re.findall('[^\.]', text))  # matches anything but a period

['m', 'a', 'c', 'h', 'i', 'n', 'e', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'p', 'l', 'u', 's', 'c', 'o', 'm']

In [98]:
text = '01, Jan 2015'
print(re.findall('\d+', text)), #any digit

['01', '2015']

(None,)

In [99]:
text = '01, Jan 2015'
print(re.findall('\D+', text)) #anything but a digit

[', Jan ']

In [100]:
text = '01, Jan 2015'
print(re.findall('\w+', text))  # \w  Any character
#> ['01', 'Jan', '2015']

['01', 'Jan', '2015']

In [101]:
text = '01, Jan 2015'
print(re.findall('\W+', text))  # \W  Anything but a character
#> [', ', ' ']

[', ', ' ']

In [102]:
text = '01, Jan 2015'
print(re.findall('[a-zA-Z]+', text))  # [] Matches any character inside
#> ['Jan']

['Jan']

In [103]:
text = '01, Jan 2015'
print(re.findall('\d{4}', text))  # {n} Matches repeat n times.
print(re.findall('\d{2,4}', text))
#> ['2015']
#> ['01', '2015']

['2015']
['01', '2015']

In [118]:
print(re.findall(r'Co+1', 'So Cooool'))  # Match for 1 or more occurrences
#> ['Cooool']
print(re.findall(r'Co+l', 'So Cooool'))

[]
['Cooool']

In [119]:
print(re.findall(r'Pi*lani', 'Pilani'))
#> ['Pilani']

['Pilani']

In [108]:
print(re.findall(r'colou?r', 'color'))
['color']

['color']

['color']

In [120]:
#1. Extract the user id, domain name and suffix from the following email addresses.
emails = """zuck26@facebook.com
page33@google.com
jeff42@amazon.com"""

#desired_output = [('zuck26', 'facebook', 'com'),
 #('page33', 'google', 'com'),
# ('jeff42', 'amazon', 'com')]

In [128]:
pattern = r'(\w+)@([A-Za-z0-9]+)\.([A-Za-z]{2,4})'
print(re.findall(pattern, emails))

[('zuck26', 'facebook', 'com'), ('page33', 'google', 'com'), ('jeff42', 'amazon', 'com')]

In [131]:
import re
sentence = """A, very   very; irregular_sentence"""
desired_output = "A very very irregular sentence"

In [136]:
" ".join(re.split('[\s;,_]+', sentence))

'A very very irregular sentence'

In [137]:
tweet = '''Good advice! RT @TheNextWeb: What I would do differently if I was learning to code today http://t.co/lbwej0pxOd cc: @garybernhardt #rstats'''

In [138]:
degree = ['Sc.D.', 'Ph.D.', 'PhD', 'Ph.D.', 'Ph.D.', 'Ph.D.',
          'Ph.D', 'PhD', 'Ph.D', 'Ph.D', 'Ph.D.', 'PhD', 'Ph.D.',
          'MD', 'MPH', 'Ph.D', 'B.S.Ed.', 'M.S.', 'Ph.D.', 'Ph.D.',
          'Ph.D.', 'Ph.D', 'JD', 'MA', 'MPH', 'MS', 'PhD', 'Ph.D.',
          'Sc.D.', 'Sc.D.', 'PhD', 'ScD', 'Ph.D.', 'PhD', 'Ph.D.',
          'Sc.D.', 'PhD', '0', 'Ph.D.', 'Ph.D.', 'Ph.D.', 'ScD',
          'PhD', 'Ph.D.', 'PhD', 'Ph.D']

In [139]:
## paterns are no periods, 1 period after 2nd letter,

['Sc.D.', 'Ph.D.', 'PhD', 'Ph.D.', 'Ph.D.', 'Ph.D.', 'Ph.D', 'PhD', 'Ph.D', 'Ph.D', 'Ph.D.', 'PhD', 'Ph.D.', 'MD', 'MPH', 'Ph.D', 'B.S.Ed.', 'M.S.', 'Ph.D.', 'Ph.D.', 'Ph.D.', 'Ph.D', 'JD', 'MA', 'MPH', 'MS', 'PhD', 'Ph.D.', 'Sc.D.', 'Sc.D.', 'PhD', 'ScD', 'Ph.D.', 'PhD', 'Ph.D.', 'Sc.D.', 'PhD', '0', 'Ph.D.', 'Ph.D.', 'Ph.D.', 'ScD', 'PhD', 'Ph.D.', 'PhD', 'Ph.D']

In [193]:
degree_list = ['Sc.D.', 'Ph.D.', 'PhD', 'Ph.D.', 'Ph.D.', 'Ph.D.',
               'Ph.D', 'PhD', 'Ph.D', 'Ph.D', 'Ph.D.', 'PhD', 'Ph.D.',
               'MD MPH Ph.D', 'B.S.Ed. M.S. Ph.D.', 'Ph.D.', 'Ph.D.',
               'Ph.D', 'JD MA MPH MS PhD', 'Ph.D.', 'Sc.D.', 'Sc.D.',
               'PhD ScD', 'Ph.D.', 'PhD', 'Ph.D.', 'Sc.D.', 'PhD',
               '0', 'Ph.D.', 'Ph.D.', 'Ph.D.', 'ScD', 'PhD', 'Ph.D.',
               'PhD', 'Ph.D']

In [207]:
import re
import pprint
from collections import defaultdict
def count_degree(degree_list):
    output_list = []
    cleaned_list = []
    degree_counter = defaultdict(int)
    for entry in degree_list:
        if len(entry)>5:
            output_list.extend(re.split('\s+', entry))
        else:
            output_list.append(entry)
    for degree in output_list:
        cleaned_list.append(re.sub('\.+','',degree))
    
    for deg in cleaned_list:
        degree_counter[deg] += 1
    return degree_counter
        

list_clean(degree_list)

defaultdict(int,
            {'ScD': 6,
             'PhD': 31,
             'MD': 1,
             'MPH': 2,
             'BSEd': 1,
             'MS': 2,
             'JD': 1,
             'MA': 1,
             '0': 1})

In [203]:
for degree in cleaned_list:
        cleaned_list = re.sub('\.+','',degree)
    return(cleaned_list)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [204]:
sample = ['Sc.D.', 'Ph.D.', 'PhD']
for x in sample:
    print(re.sub('\.+','',x))

ScD
PhD
PhD

In [205]:

degree_count = defaultdict(int)
for deg in cleaned_list:
    degree_count[deg] += 1
print(degree_count)

defaultdict(<class 'int'>, {'Sc.D.': 4, 'Ph.D.': 16, 'PhD': 9, 'Ph.D': 6, 'MD': 1, 'MPH': 2, 'B.S.Ed.': 1, 'M.S.': 1, 'JD': 1, 'MA': 1, 'MS': 1, 'ScD': 2, '0': 1})

In [153]:
import pprint

In [154]:
pprint.pprint(degree_list)

['Sc.D.',
 'Ph.D.',
 'PhD',
 'Ph.D.',
 'Ph.D.',
 'Ph.D.',
 'Ph.D',
 'PhD',
 'Ph.D',
 'Ph.D',
 'Ph.D.',
 'PhD',
 'Ph.D.',
 'MD MPH Ph.D',
 'B.S.Ed. M.S. Ph.D.',
 'Ph.D.',
 'Ph.D.',
 'Ph.D',
 'JD MA MPH MS PhD',
 'Ph.D.',
 'Sc.D.',
 'Sc.D.',
 'PhD ScD',
 'Ph.D.',
 'PhD',
 'Ph.D.',
 'Sc.D.',
 'PhD',
 '0',
 'Ph.D.',
 'Ph.D.',
 'Ph.D.',
 'ScD',
 'PhD',
 'Ph.D.',
 'PhD',
 'Ph.D']